/*CreateBar*/
.list-group .create-bar-component {
  background: #81afcc;
  color: #ffffff; }
  .list-group .create-bar-component:hover, .list-group .create-bar-component:focus {
    cursor: pointer;
    background: #5d98bd;
    color: #ffffff; }

/*Deskmark*/
.deskmark-component .container {
  margin-top: 100px; }

/*ItemShowLayer*/
.item-show-layer-component {
  padding: 10px;
  border-top: 1px solid #efefef;
  position: relative; }
  .item-show-layer-component .no-select {
    font-size: 30px;
    height: 300px;
    line-height: 300px;
    color: #ccc;
    text-align: center; }
  .item-show-layer-component .control-area {
    position: absolute;
    top: 0;
    right: 0; }
    .item-show-layer-component .control-area button {
      width: 68px;
      display: inline-block;
      margin: 10px; }

/*ItemEditor*/
.item-editor-component {
  padding: 10px;
  border-top: 1px solid #efefef;
  position: relative; }
  .item-editor-component .control-area {
    position: absolute;
    top: 0;
    right: 0; }
    .item-editor-component .control-area button {
      width: 68px;
      display: inline-block;
      margin: 10px 10px; }
  .item-editor-component .edit-area input, .item-editor-component .edit-area textarea {
    border: 1px solid #efefef;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block; }
  .item-editor-component .edit-area input {
    padding: 0 10px;
    line-height: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    width: 60%;
    margin-bottom: 10px; }
  .item-editor-component .edit-area textarea {
    padding: 10px;
    width: 60%;
    line-height: 1.4em;
    height: 300px; }

.cursor {
  cursor: pointer; }
